
#logo_icon{
    margin: 0 40px;
    padding: 0 0;
    /* display: none; */
    height: 3rem;
    width: 10rem;
}

#collage{
    height: 500px;
}

.img-bottom{
    width: 100%;
    margin-bottom: -.08rem !important;
}
.padImg{
    padding: 10rem;
}
.padText {
    padding: 10rem;
}
.blue-section{
    background: #06446C;
}

.navbar{
    background-color: black;
}
.nav-link{
    color: white;
}

#logoFront{
    height: 500px;
    opacity: 70%;
}

#map-container-google-1{
    height: 30rem;
}

#splash {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(6,68,108,1) 95%);
}

.site-footer {
    background-color: rgb(255, 255, 255);
}


#map { height: 180px; }

#black_logo{
    max-height: 12rem;
}
#contact{
    color: yellow;
    opacity: 70%;
}
